<template>
  <div class="markdown-editor">
    <div class="control-bar">
      <div class="panel">
        <div
          v-for="(tab, index) in editorTabs"
          :key="index"
          :class="[view === tab && 'active']"
          class="action"
          @click="switchView(tab)"
        >
          {{ ('md.tab.' + tab) | translate }}
        </div>
      </div>

      <div v-if="view === 'editor'" class="panel">
        <div
          v-for="(button, index) in editorButtons"
          v-html="button.icon"
          :key="index"
          :title="('md.action.buttonLabel.' + button.type) | translate"
          class="action-button"
          @mousedown="replace(button.type)"
        ></div>
      </div>
    </div>

    <div v-if="view === 'editor'" class="view">
      <textarea
        :value="value"
        @input="$emit('input', $event.target.value)"
        ref="input"
      />
    </div>

    <!-- TODO translate title -->
    <div v-if="view === 'preview'" v-html="preview" class="view preview"></div>
  </div>
</template>

<script>
import Vue from 'vue'
import { translate } from '@/filters/translate'
import { i18n } from '@/i18n'
import { md, ActionTemplate } from '@/utils'

const EDITOR_TABS = ['editor', 'preview']
const EDITOR_BUTTONS = [
  {
    type: 'heading',
    icon: __iconHeading__,
  },
  {
    type: 'link',
    icon: __iconLink__,
  },
  {
    type: 'image',
    icon: __iconImage__,
  },
]

export default Vue.extend({
  name: 'MarkdownEditor',

  props: {
    value: {
      type: String,
      required: true,
    },

    locale: {
      type: String,
      default: 'en',
    },
  },

  data() {
    return {
      view: 'editor',
    }
  },

  filters: {
    translate,
  },

  computed: {
    editorTabs() {
      return EDITOR_TABS
    },

    editorButtons() {
      return EDITOR_BUTTONS
    },

    preview() {
      return md.render(this.value)
    },
  },

  watch: {
    locale: {
      immediate: true,
      handler(val) {
        i18n.locale = val
      },
    },
  },

  methods: {
    switchView(view) {
      this.view = view
    },

    replace(key) {
      const item = ActionTemplate[key]
      const area = this.$refs.input
      const [start, end] = [area.selectionStart, area.selectionEnd]
      const selection =
        start < end
          ? this.value.substring(start, end)
          : translate(item.fallback)
      const injectValue =
        this.value.substring(0, start) +
        item.template.replace('%0%', selection) +
        this.value.substring(end)
      const predictCursorPosition = injectValue.indexOf('%c%')

      this.$emit('input', injectValue.replace('%c%', ''))

      setTimeout(() => {
        area.focus()
        area.selectionEnd = predictCursorPosition
      }, 100)
    },
  },
})
</script>

<style scoped>
.markdown-editor {
  width: 100%;
  font-size: 14px;
}

.markdown-editor .control-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  background-color: #1d242d;
  color: #a9a9a9;
}

.markdown-editor .control-bar .panel {
  display: flex;
  height: 100%;
}

.markdown-editor .control-bar .panel .action,
.markdown-editor .control-bar .panel .action-button {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.markdown-editor .control-bar .panel .action {
  padding-left: 1em;
  padding-right: 0.5em;
  border: 4px solid #1d242d;
  border-left: 0;
  border-right: 0;
}

.markdown-editor .control-bar .panel .action:hover {
  border-bottom-color: #a9a9a9;
}

.markdown-editor .control-bar .panel .action.active {
  border-bottom-color: #e4e4e4;
}

.markdown-editor .control-bar .panel .action-button {
  align-self: center;
  justify-content: center;
  width: 45px;
  height: 65%;
  margin-right: 0.8em;
  border: 1px solid #a9a9a9;
  border-radius: 6px;
  text-align: center;
}

.markdown-editor .control-bar .panel .action-button:hover {
  color: #e4e4e4;
  border-color: #e4e4e4;
}

.markdown-editor .view {
  height: 300px;
  overflow-y: auto;
  border: 1px solid silver;
  border-top: 0;
  padding-bottom: 0.8em;
}

.markdown-editor .view.preview {
  padding-left: 0.8em;
  padding-right: 0.8em;
}

.markdown-editor .view textarea {
  resize: none;
  height: calc(100% - 10px);
  width: calc(100% - 8px);
  font-size: 14px;
  border: 0;
  box-shadow: none;
  border-radius: 0;
}
</style>
